name: Rust

on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Deps
      run: |
        sudo apt-get update
        sudo apt install -y libudev-dev

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Format
      run: cargo fmt --all -- --check
